<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.ktor.server" level="INFO"/>
    <logger name="io.ktor.server.plugins" level="INFO"/>
    <logger name="io.ktor.server.application" level="INFO"/>
    <logger name="io.ktor.server.engine" level="INFO"/>
    <logger name="org.jetbrains.exposed" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="io.ktor.server.plugins.di" level="INFO"/>
    <logger name="io.ktor.server.plugins.di.MapDependencyProvider" level="INFO"/>

    <logger name="Exposed" level="DEBUG" />
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>